# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# Envs & tooling
.venv/
.env
.env.*

# OS/editor
.DS_Store
.idea/
.vscode/

# Data/artifacts
*.log
*.tmp
IGN
**/artifacts/
