# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.so
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
*.joblib

# Envs & Tooling
.venv/
.env
.env.*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Data / Artifacts
*.log
*.tmp
*.csv
artifacts/
